<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"
    />
    <title>ViewAR SDK App</title>
  </head>
  <body>
    <div id="app"></div>
    <script type="text/javascript">
      window.bundleIdentifier = window.bundleIdentifier || <%= JSON.stringify(htmlWebpackPlugin.options.bundleIdentifier) %>
      window.bundleVersion = window.bundleVersion || <%= JSON.stringify(htmlWebpackPlugin.options.bundleVersion) %>
    </script>
    <script src="./viewar-core.js"></script>
  </body>

  <link rel="stylesheet" type="text/css" href="/CustomUI/index.css" />
</html>
